body,
html {
  height: 100%;
  display: grid;
  color: #fff;
  background-image: url(images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
}
.content {
  width: 90%;
  height: 90%;
  margin: auto;
  display: grid;
  grid-template: 100% / 6fr 4fr;
  gap: 4vw;
}
h1 {
  font-family: "Poppins";
}
button {
  margin-top: 2%;
  background-color: #fff;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  color: hsl(257, 40%, 49%);
  font-family: "Open Sans";
  font-size: 17px;
  padding: 16px 31px;
  text-align: center;
  width: 40%;
}
.logo {
  width: 12vw;
  padding-bottom: 7vh;
  display: block;
}
.text {
  display: block;
  margin: auto;
}
.column {
  display: grid;
  grid-template: 9fr 1fr / 7fr 1fr 1fr 1fr;
}
.mockup {
  width: 80%;
}
.image-column {
  display: grid;

}
.facebook {
  grid-column: 2;
}
.text {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
@media screen and (max-width: 700px) {
  .content {
    grid-template: 600px 100px / 100%;
  }
  .column {
    grid-template: 3fr 1fr / repeat(11, 1fr)
  }
  .mockup {
    width: 100%;
  }
  .text {
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 12;
  }
  .logo {
    width: 50vw;
  }
  .fa-stack {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .facebook {
    grid-column: 5;
  }
  .instagram {
    grid-column: 6;
  }
  .twitter {
  grid-column: 7;
  }
}
